node_modules/

# env files (can opt-in for committing if needed)
**/.env*

# Strapi
backend/.strapi-updater.json
backend/.strapi/
backend/.tmp/
backend/dist/
backend/data/
backend/database/*.db
backend/database/*.db-journal
backend/public/uploads/
