@use "../styles/colors" as colors;
@use "../styles/breakpoints" as breakpoints;
@import "tailwindcss";

:root {
  --color-green: #{colors.$color-green};
  --color-green-light: #{colors.$color-green-light};
  --color-green-fresh: #{colors.$color-green-fresh};
  --color-white: #{colors.$color-white};
  --color-earth-light: #{colors.$color-earth-light};
  --color-red-dark: #{colors.$color-red-dark};
  --color-gold: #{colors.$color-gold};
  --color-yellow: #{colors.$color-yellow};
  --color-accent-brown: #{colors.$color-accent-brown};
}

@theme inline {
  --color-green: var(--color-green);
  --color-green-light: var(--color-green-light);
  --color-green-fresh: var(--color-green-fresh);
  --color-white: var(--color-white);
  --color-earth-light: var(--color-earth-light);
  --color-red-dark: var(--color-red-dark);
  --color-gold: var(--color-gold);
  --color-yellow: var(--color-yellow);
  --color-accent-brown: var(--color-accent-brown);
  --font-sans: var(--font-outfit);
}

body {
  background: var(--color-white);
  color: #171717;
  font-family: var(--font-sans);
}

@utility pageBorder {
  @apply px-5 pb-0 lg:px-10;
}

@utility pageWrapper {
  @apply pageBorder mx-auto flex w-full flex-col;
}

@utility borderless {
  @apply -mx-5 w-[calc(100%+2.5rem)] lg:-mx-10 lg:w-[calc(100%+80px)];
}

@utility sectionContainer {
  @apply pageBorder mx-auto flex w-full;
}

@utility title-text {
  @apply leading-[107%] font-semibold tracking-[0.02em] uppercase;
  font-size: clamp(40px, 24.73px + 4.07vw, 56px);
}
