@use "../../styles/breakpoints" as breakpoints;

.header {
  &.style-transparent {
    transition: transform 0.3s ease-in-out;
    &.top {
      transform: translateY(-100%);
    }

    @include breakpoints.screen(lg) {
      transition: none !important;
      transform: none !important;
    }
  }

  // &.style-white {
  // }
}

.transparentHeader {
  background: linear-gradient(
    180deg,
    rgba(34, 34, 34, 0.4) 0%,
    rgba(34, 34, 34, 0) 100%
  );
}
